@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:url" content="https://www.tigergames4kids.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TigerGames4Kids"/>
    <meta property="og:description" content="Best interactive and educational website for kids"/>
    <meta property="og:image" content=""/>
</head>
<body>


    <div class="jumbotron bg-success" style="margin:0 auto 20px auto; padding-top: 20px;  padding-bottom: 0px;">
        <img src=@Model.User.ProfileImageURI alt="Alternate Text" />
        <h1 align="right">Welcome to your profile <span>@Model.User.Name</span></h1>
    </div>

    <h2 style="margin:0 auto 20px auto;"> Recently Played Games </h2>

    <ul class="list-group">
        @foreach (TigerGames4Kids.Models.RecordType record in Model.Records)
        {
            <li class="list-group-item">@record.GameTitle - @record.Timestamp</li>
        }
    </ul>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container" style="margin:10px auto 10px auto;">
        <a style="display:inline-block; margin: 0 auto 0 auto" class="fa fa-twitter btn btn-info twitter-share-button"
           href="https://twitter.com/intent/tweet?text=I%20am%20Playing%20TigerGames4kids"
           data-size="large">
            Tweet
        </a>

        <div class="fb-share-button"
             data-href="https://www.tigergames4kids.com"
             data-layout="button_count" data-size="large">
        </div>
        @if (@Model.User.Age > 18)
        {

            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-sku_EvgYbbP15hADRi"
                    role="link">
                Donate to Start Playing!
            </button>
        }

    </div>

    <div class="container" style="margin:15px auto 15px auto;">
        <h2> Profile Manager</h2>
        <h4 style="margin: 0 auto 0 15px;">User: @Model.User.Username</h4>
        <h4 style="margin: 0 auto 0 15px;">Age: @Model.User.Age</h4>

        <div class="row col-md-3" style="margin:10px">
            <a href="/Users/Delete" class="btn btn-danger" style="display:inline-block; margin: 0 auto 0 auto;">Delete Account</a>
            <a href="/Users/Edit" class="btn btn-success" style="display:inline-block; margin: 0 auto 0 auto;">Edit Profile</a>

        </div>

    </div>

    <script type="text/javascript">
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->


    <script>var stripe = Stripe('pk_test_shXmbtUF5yWvNppctGKcerUp00tspybH8w');

        var checkoutButton = document.getElementById('checkout-button-sku_EvgYbbP15hADRi');
        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
                items: [{ sku: 'sku_EvgYbbP15hADRi', quantity: 1 }],

                // Note that it is not guaranteed your customers will be redirected to this
                // URL *100%* of the time, it's possible that they could e.g. close the
                // tab between form submission and the redirect.
                successUrl: window.location.protocol + '//www.tigergames4kids.com/success',
                cancelUrl: window.location.protocol + '//www.tigergames4kids.com/canceled',
            })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });</script>
}


<script type="text/javascript">
        var localStore = window['localStorage'];
        @{
            @:localStore.setItem('userId', '@Model.User.Id');
        }
    </script>

</body>
</html>

