@using System.Web.Mvc.Html;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title TigerGames4Kids</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="../../Scripts/PhaserOne/javascript/mainPhaser.js" type="module"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9322117613473291",
        enable_page_level_ads: true
        });</script>
</head>
<body style="padding-top: 0px; background-image:url('/Images/luca-upper-97759-unsplash.jpg');">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">TigerGames4Kids</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Games/AllGames">Games</a>
                </li>
            </ul>
            <!--Check if user is logged in-->
            @if (Session["Username"] == null)
            {
                <!--If user is NOT logged in-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/Login">Login</a>
                    </li>
                </ul>
            }
            else
            {
                <!--If user IS logged in-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Users/ViewUser">Account</a>
                    </li>
                    <!--Logout-->
                    <li class="nav-item">
                        <a class="nav-link" href="$">Logout</a>
                    </li>
                </ul>
            }

        </div>
    </nav>
    <div class="container" style="padding-top: 30px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TigerGames4Kids</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
